-lock.json/
.vscode
.cache
node_modules/
.DS_Store
yarn-error.log
vendor
.next/
.log
*.pb.go
brokerhost/
.idea/
bin
obj
.vs/
out
*DotSettings.user
.vs/
*.log
*.log.*
sandbox
coverage-html
coverage.json
coverage.hits
.terraform/
.terraform.lock.hcl
TestProgram.cs
dist/
*.bak
.vendorLocalVersion
*.tar
*.gz
/*.pem
.docz/
**/configmaps/*.yaml
.newer-cache
.changed-cache
src/go_common/swagger/models/nats_models/*
src/diego/*
artifacts
*.code-workspace
.deps
go.mod
.dev_env.yaml
.dev_env.tmp.yaml
http_dump/
*.swp
*.swo
agent-stats/
